html {
    background: #142d4c;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#animation {
    display: none;
}

#circle {
    position: absolute;
    width: 0vmin;
    height: 0vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background: #9fd3c7; 
    border-radius: 50%;
    z-index: -1;
}

#circle p {
    color: white;
    font-size: xx-large;
}

#stop {
    position: absolute;
    top: 0;
    left: 0;
}