/* Color palette */
:root {
    --light-primary: #ececec;
    --light-secondary: #9fd3c7;
    --dark-primary: #142d4c;
    --dark-secondary: #385170;
}

html {
    background: var(--dark-primary);
}

/* Parent class for all views */
.view {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button positioning on landing page */
.button-group {
    position: absolute;
    top: 33%;
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#information {
    color: var(--light-primary);
    line-height: normal;
    font-size: smaller;
}

/* Initially, hide animation view */
#animation {
    display: none;
}

/* Circle to be animated */
#circle {
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background: var(--light-secondary);
    border-radius: 50%;
}

/* Instruction to be animated */
#circle h1 {
    color: var(--light-primary);
    font-weight: lighter;
}

/* Landing page button styles (start, settings, information) */
.btn.btn-outline-primary {
    margin-bottom: 1rem;
    background-color: var(--dark-primary);
    border: 0.15rem solid var(--light-secondary);
    border-radius: 0;
    color: var(--light-secondary);
    letter-spacing: 0.06rem;
    text-transform: uppercase;
}

.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:active,
.btn.btn-outline-primary:active:focus {
    background-color: var(--light-secondary);
    border-color: var(--light-secondary);
    color: var(--dark-primary);
}

/* Stop button style */
#stop {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 2rem;
    height: 2rem;
    fill: var(--light-secondary);
    cursor: pointer;
}

#stop #s1 {
    opacity: 0.5;
}

#stop:hover #s2 {
    opacity: 1;
}

#stop #s2, #stop:hover #s1 {
    opacity: 0;
}

/* Form labels and sliders (range) */
.form-label {
    color: var(--light-primary);
}

input[type=range]::-webkit-slider-runnable-track {
    background: var(--light-primary);
}

input[type=range]::-webkit-slider-thumb {
    background: var(--light-secondary);
}

input[type=range]:focus::-webkit-slider-thumb {
    background: var(--light-secondary);
    box-shadow: 0 0 0 .25rem rgba(159, 211, 199, 0.5);
    outline: .1rem solid var(--light-primary);
}

input[type=range]:active::-webkit-slider-thumb {
    background: var(--light-primary);
}